div{
    border: 3px solid #4CAF50;
    padding: 5px;
}
.img1{
    float: right;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.img2{
    float: right;
}
p{
    clear:right;
}