.flex-container {
  display: flex;
  align-items: stretch;
  background-color: grey;
}

.flex-container > div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/*# sourceMappingURL=style.css.map */
