p.one {
    border-style: solid;
    border-color: red;
  }
  
  p.two {
    border-style: solid;
    border-color: green;
  } 
  
  p.three {
    border-style: solid;
    border-color: red green blue yellow;
  } 