#first{
    background-color: rgb(255, 99, 71);
}
#second{
    background-color: #ff6347;
}
#third{
    background-color: hsl(9, 100%, 64%);
}
#fourth{
    background-color: rgba(255, 99, 71, 0.5);
}
#fifth{
    background-color: hsla(9, 100%, 64%, 0.5);
}