#first {
  background-color: tomato;
}

#second {
  background-color: #ff6347;
}

#third {
  background-color: tomato;
}

#fourth {
  background-color: rgba(255, 99, 71, 0.5);
}

#fifth {
  background-color: rgba(255, 99, 71, 0.5);
}

/*# sourceMappingURL=style.css.map */
