div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}

div {
  padding-bottom: 2000px;
}

/*# sourceMappingURL=style.css.map */
