.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: dodgerblue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/*# sourceMappingURL=style.css.map */
