div.first {
  width: 300px;
  background-color: aqua;
  color: red;
}

div.second {
  width: 300px;
  padding: 25px;
  background-color: blueviolet;
  color: green;
}

/*# sourceMappingURL=style.css.map */
