.div1{
    float: right;
    width: 100px;
    height: 50px;
    margin: 10px;
    border: 3px solid #73AD21;
}
.div2{
    border: 1px solid red;
    clear: right;
}
.div3{
    float: left;
    width: 100px;
    height: 50px;
    margin: 10px;
    border: 3px solid #73AD21;
}
.div4{
    border: 3px solid red;
    clear: both;
}