*{
    box-sizing: border-box;
}
.box1,.box2,.box3{
    float: left;
    width: 33.33%;
    padding: 50px;
}
.box1{
    background-color:#bbb;
}
.box2{
    background-color:#ccc;
}
.box3{
    background-color:#ddd;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}