#first {
  background-color: red;
}

#second {
  background-color: blue;
}

#third {
  background-color: mediumseagreen;
}

#fourth {
  background-color: violet;
}

#fifth {
  background-color: orange;
}

#sixth {
  background-color: slateblue;
}

/*# sourceMappingURL=style.css.map */
