#first{
    background-color: rgb(255, 0, 0);
}
#second{
    background-color: rgb(0, 0, 255);
}
#third{
    background-color: rgb(60, 179, 113);
}
#fourth{
    background-color: rgb(238, 130, 238);
}
#fifth{
    background-color: rgb(255, 165, 0);
}
#sixth{
    background-color: rgb(106, 90,205);
}