.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  /*.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
  }*/
  .item2{
      grid-row-start: 2;
      grid-row-end: 4;
  }