p.normal {
  border: 2px solid red;
}

p.round1 {
  border: 2px solid green;
  border-radius: 15px;
}

p.round2 {
  border: 2px solid blue;
  border-radius: 28px;
}

p.round3 {
  border: 2px solid pink;
  border-radius: 32px;
}

/*# sourceMappingURL=style.css.map */
