body {
  background-color: aquamarine;
}

@media screen and (max-width: 575.98px) {
  .one {
    background-color: red;
  }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .two {
    background-color: blue;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .three {
    background-color: green;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .four {
    background-color: yellow;
  }
}
@media screen and (min-width: 1200px) {
  .five {
    background-color: pink;
  }
}

/*# sourceMappingURL=style.css.map */
