body{
    background-color: aquamarine;
}

// Extra small devices (portrait phones, less than 576px)

@media screen and (max-width: 575.98px){
    .one{
        background-color: red;
    }
}

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) and (max-width: 767.98px){
    .two{
        background-color: blue;
    }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) and (max-width: 991.98px){
    .three{
        background-color: green;
    }
}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) and (max-width: 1199.98px){
    .four{
        background-color: yellow;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px){
    .five{
        background-color: pink;
    }
}