body {
  background-image: url("web.png");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}

/*# sourceMappingURL=style.css.map */
