body{
    font-family: 'Montserrat', sans-serif;
}

#product-overview{
    background: #ff1b68;
}

.section-title{
    color: #2ddf5c;
}

h1{
    color: white;
    font-family: 'Anton', sans-serif;
}

/*h1{

    font-family: sans-serif;
}*/