.flex-container {
    display: flex;
    height: 200px;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }