table, td, th {
    border : 1px solid black;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td{
    height: 50px;
    vertical-align: bottom;
}
th{
    height: 50px;
    vertical-align: middle;
}