body {
  color: white;
  text-align: center;
}

.grid-container {
  display: grid;
  max-width: 960px;
  margin: 0 auto;
  border: 1px solid black;
}

.grid-container > div {
  padding: 15px;
  border: 1px solid black;
  color: white;
}

.item1 {
  background-color: darkblue;
}

.item2 {
  background-color: darkcyan;
}

.item3 {
  background-color: darkgoldenrod;
}

.item4 {
  background-color: darkkhaki;
}

.item5 {
  background-color: darkmagenta;
}

.item6 {
  background-color: darkorange;
}

/*# sourceMappingURL=style.css.map */
