p {
  outline-color: red;
}

p.dotted {
  outline-style: dotted;
}

p.dashed {
  outline-style: dashed;
}

p.solid {
  outline-style: solid;
}

p.double {
  outline-style: double;
}

p.groove {
  outline-style: groove;
}

p.ridge {
  outline-style: ridge;
}

p.inset {
  outline-style: inset;
}

p.outset {
  outline-style: outset;
}

/*# sourceMappingURL=style.css.map */
